#signup-container {
  min-height: calc(100vh - 5rem);
  min-width: 100vw;
  color: white;

  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
  background-image: url("/assets/img/wallpaper.jpg");
  background-size: cover;
  background-position: bottom;
}
